.topnav {
    background-color: #333;
    height:50px
}
    
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    font-size: 17px;
}
        
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
        
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/*typeahead section*/

.search-section {
    font-family: sans-serif;
    position: relative;
    padding: 8px;
    float:right
}

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 14px; /* Set input font size */
    height: 15px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 200px;
}

.typeahead {
    background-color: #FFFFFF;
}

.typeahead:focus {
    border: 2px solid #4CAF50;
}

.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

.tt-hint {
    color: #999999;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 225px;
}

.tt-suggestion {
    font-size: 14px; /* Set suggestion dropdown font size */
    padding: 3px 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}

.tt-suggestion p {
    margin: 0;
}
